{% extends "default.html" %}
{% block body %}
<h1 class="mt-4">SavulCoin hesabın</h1>
<hr>

{% if userData.isLoggedIn() %}
    Cüzdan ID: <input type="text" value="{{ userData.walletId }}" disabled style="cursor: text;" class="form-control">
    <br>
    <div id="account-balance">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Yükleniyor...</span>
        </div>
    </div>

    <br>
    <h5>Adreslerin</h5>
    <div id="account-addresses">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Yükleniyor...</span>
        </div>
    </div>
    <br>
    <h5>Diğer</h5>
    <a href="javascript:void(0)" data-backup-account="true" class="btn btn-success">Hesabını Yedekle</a>
    <a href="javascript:void(0)" data-log-off="true" class="btn btn-danger">Çıkış Yap</a>

{% else %}
    {% include "error-not-logged-in.html" %}
{% endif %}

{% endblock %}